.page{
    padding: 20px;
    h2{
        color: white;
        font-weight: bold;
    }
    .input-search{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        margin: 10px 20px;
        width: 100%;
        .mat-form-field{
            width: 100%;
            padding-left: 25px;
        }
       .mat-mini-fab{
           margin-left: 10px;
       }
    }
    
    .iframe-wrapper{   
        position: relative;  
        button{
            position: absolute;
            left: 15px;
            top:15px;
        }   
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}