<div class="page">
    <div class="header">
        <h2>חיפוש שעורי תורה</h2>
    </div>
    <div class="row search-area">
        <div class="input-search">
            <button mat-mini-fab color="accent" (click)="activateSpeechSearch()">
                <i class="material-icons">
                    keyboard_voice
                </i>
            </button>
            <mat-form-field>
                <input matInput placeholder="חיפוש חופשי" [(ngModel)]="inputSearch" (keyup.enter)="search()">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="search()">חיפוש</button>
        </div>
    </div>
    <div class="row results-area" *ngIf="result">
        <app-list-results class="col-3" [results]="result" (itemSelected)="onItemSelected($event)"></app-list-results>
        <div class="col-9 iframe-wrapper" *ngIf="isSelected">
            <button mat-raised-button color="default" (click)="openInFullScreen(currentItemSelected.link)">מסך מלא</button>
            <iframe [src]="currentItemSelected.link | safeUrl" frameborder="0"></iframe>
        </div>
    </div>
</div>