.mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line,
.mat-list-item.mat-3-line.mat-list-item-avatar.mat-list-item-with-avatar {
    margin-bottom: 20px;
    // margin-right: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.18);
    padding: 10px 5px;
    height: 100%;
    background: white;
    cursor: pointer;

    h3{
        font-weight: bold;
        font-size: 1.1rem;
    }
    h6{
        color: blue;
        padding: 3px 0;
    }
    .mat-list-avatar{
        width: 70px;
        height: 70px;
    }
}